  .hotspot .editor .bc-box, 
  .hotspot .editor .bc-col-responsive,
  .hotspot .editor .bc-row-responsive,
  .hotspot .editor .bc-section,
  .hotspot .editor .bc-container {
    border: 1px dotted blue;
    min-height: 15px !important;
  }
  .hotspot .drpr{
    min-width: 100%;
    min-height: 20px;
    background-color: yellow;
  }


.propselect {
  width: 33%;
  display: inline-block;
  padding: 8px;
  font-size:12px
}
.propselect > input,
.propselect > select {
  float: right;
  width: 50%;
  border: 1px solid #ccc;
}

.propselect > select {
  background: white;
  font-size: 12px;
  padding: 3px;
}
