.header-button {
  float: right;
  margin: -6px 6px;
}

.hotspot .editor .bc-box, 
.hotspot .editor .bc-col-responsive,
.hotspot .editor .bc-row-responsive,
.hotspot .editor .bc-section,
.hotspot .editor .bc-container,
.hotspot .editor .bc-paragraph,
.hotspot .editor .bc-list {
  border: 4px dashed #ABC;
  min-height: 40px !important;
}



.drpr {
  display: inline;
}
.hotspot .drpr {
  min-width: 50px;
  background-color: rgba(117, 160, 204, 0.3);
  display: inline-block;
}
.hotspot .editor > .drpr {
  min-height: 100px;
  display: block;
  padding: 10px 10px 50px 10px;
}
.hotspot .editor .bc-box > .drpr, 
.hotspot .editor .bc-col-responsive > .drpr,
.hotspot .editor .bc-row-responsive > .drpr,
.hotspot .editor .bc-section > div > .drpr,
.hotspot .editor .bc-container > .drpr,
.hotspot .editor .bc-paragraph > .drpr,
.hotspot .editor .bc-list > .drpr,
.hotspot .editor .bc-button > button > span > .drpr {
  min-height: 50px;
  display: block;
}

.hotspot .editor .bc-button.bc-button-inline > button > span > .drpr {
  display: inline-block;
}

.drpr.active {
  background-color: rgba(123, 197, 177, 0.5);
}


.propselect {
  width: 180px;
  display: inline-block;
  padding: 6px;
  font-size:12px
}
.propselect-label {
  font-size: 12px;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

#visualizer-section-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#visualizer-section-header > * {
  vertical-align: middle;
}
#visualizer-section-configuration-wrapper {
  display: flex;
  flex-direction: row;
  border-bottom: 3px solid #E9E9E9;
}
#visualizer-section-component-list {
  min-width: 150px;
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
}
#visualizer-component-list-header {
}
#visualizer-component-list-content {
  padding-top: 0 !important;
  overflow: auto;
}
#visualizer-section-workspace-header {

}
#visualizer-section-workspace-wrapper {
}
#visualizer-section-configuration {
}
.prop-wrapper {
  margin: 0 -6px;
}
#visualizer-section-workspace {
  padding-top: 0 !important;
  overflow: auto;
}

#trash-can {
  position: absolute;
  z-index: 999;
  bottom: 25px;
  right: 25px;
  padding: 25px;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.2);
  opacity: 0.5;
}
#trash-can:hover {
  opacity: 1;
}
#edit-can {
  position: absolute;
  z-index: 999;
  bottom: 120px;
  right: 25px;
  padding: 25px;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.2);
  opacity: 0.5;
}
#edit-can:hover {
  opacity: 1;
}

.bc-switch-label > .bc-text {
  position: relative;
  top: -6px;
  left: 6px;
}

[draggable], [draggable] * {
  cursor: move;
}